body{
	background-image: 
	url("Background/enterpreneurs.jpg"),
	url("Background/enterpreneurs.jpg");
	
	background-repeat: no-repeat, no-repeat;
    background-size: 500px, 700px;
    background-position: 0px 0px, 500px 0px;
}

h1{
	font-family: 'Furgatorio Sans', sans-serif;
}
a{
	font-family: 'Open Sans', sans-serif;
}  
